.Overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 90%);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90vw;
  max-height: 85vh;
  padding: 12px 24px 36px;
  border: 1px solid var(--color-dark-100);

  color: var(--color-light-100);

  background-color: var(--color-dark-300);

  hr {
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;

    height: 1px;
    border: none;

    background-color: var(--color-dark-100);
  }

  &.sm {
    width: 367px;
  }

  &.md {
    width: 532px;
  }

  &.lg {
    width: 764px;
  }

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .Description {
    overflow-y: auto;

    max-height: calc(85vh - 120px);
    padding-top: 30px;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    overflow-wrap: break-word;
    white-space: normal;
  }

  .Footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
  }

  .IconButton {
    all: unset;

    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--color-light-100);

    background-color: transparent !important ;
  }
}
