.wrapper {
  width: 100%;
  max-width: 473px;
  margin-top: 35px;

  .h1Text {
    width: 100%;
    max-width: 287px;
    margin: 0 auto;
  }

  .text {
    width: 100%;
    max-width: 294px;
    margin: 19px auto 30px;
  }

  .emailInput {
    width: 100%;
    max-width: 229px;
    margin: 0 auto;
  }

  .signInLink {
    width: 100%;
    max-width: 229px;
    margin-top: 24px;
    margin-bottom: 36px;

    text-decoration: none;
  }
}
