.wrapper {
  width: 100%;
  max-width: 432px;
  margin-top: 35px;

  .text {
    margin-top: 19px;
    margin-bottom: 54px;
  }

  .signInLink {
    margin-bottom: 72px;
    text-decoration: none;
  }
}
