.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: rgb(0 0 0 / 60%);
}

.content {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center center;

  /* padding: 94px 36px 36px; */
}

.modal {
  width: 100%;
  max-width: 972px;
  margin: 0 auto;
}

.body {
  position: relative;

  min-width: 0;
  border: 1px solid #4c4c4c;
  border-radius: 2px;

  background-color: #333;
}

.body .button {
  cursor: pointer;

  position: absolute;
  top: -36px;
  right: -36px;

  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;

  color: #fff;

  &:hover {
    color: #8d9094;
  }
}
