.base {
  box-sizing: border-box;

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1 1 auto;
    column-gap: 24px;

    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 60px;
  }

  &__container--withSidebar {
    grid-template-columns: 220px 1fr;
  }

  &__content {
    min-width: 0;
    padding: 36px 0;
  }
}
